h1 {
  font-family: arial;
  color:dimgray;
}

canvas{
  width: 200 pt;
  padding: 100 pt;
  margin : 10px;
  border: 1px solid lightgray;
}

.orangeback {
 background-color:orange;
}

.fuchsiaback {
  background-color:fuchsia;
}

input{
  font-size3 :20pt
  
}
